<launch>
  <rosparam file="$(find hebi_cpp_api_examples)/config/mecanum_base_params.yaml" command="load" />

  <node pkg="hebi_cpp_api_examples" type="mecanum_base_node" name="mecanum_base_node"/>
  <group ns="controller">
    <param name="family" value="mecanumBase"/>
    <node pkg="hebi_cpp_api_examples" type="omni_base_controller_node" name="mecanum_base_controller_node" output="screen" required="true">
      <remap from="cmd_vel" to="/cmd_vel" />
    </node>
  </group>
</launch>
