<launch>
  <rosparam ns="base" command="load" file="$(find hebi_cpp_api_examples)/config/tready_base_params.yaml"/>
  <rosparam ns="arm" command="load" file="$(find hebi_cpp_api_examples)/config/A-2085-06_params.yaml"/>
  <rosparam ns="gripper" command="load" file="$(find hebi_cpp_api_examples)/config/parallel-gripper_params.yaml" />

  <rosparam>
    arm/families: [ "Tready" ]
    arm/home_position: [ 0, 1.69517, 2.16275, 2.44159, -1.39, 1.57459 ]

    gripper/family: "Tready"
  </rosparam>

  <!-- Robot components -->
  <node ns="base" pkg="hebi_cpp_api_examples" type="treaded_base_node" name="base_node" output="screen" required="true"/>
  <node ns="arm" pkg="hebi_cpp_api_examples" type="arm_node" name="arm_node" output="screen" required="true"/>
  <node ns="gripper" pkg="hebi_cpp_api_examples" type="gripper_node" name="gripper_node" output="screen" required="true"/>
</launch>
